<Files .htaccess>
 order allow,deny
 deny from all
</Files>

# Disallow any execution
Options -ExecCGI
AddHandler cgi-script .php .pl .py .jsp .asp .htm .shtml .sh .cgi

<IfModule mod_rewrite.c>
#
RewriteEngine On
Options +FollowSymLinks
#
# Disable Indexing
Options -Indexes  
# 
</IfModule>     


